.portfolio__container{
    height: 500px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #cbcbcb;
    box-shadow: 6px 6px 0px 0px rgba(1,134,115,0.7);
}
.portfolio__image-container{
    height: 100%;
    width: 50%;
}
.portfolio__img{
    max-width: 100%;
    max-height: 100%;
}
.portfolio__text-container{
    height: 100%;
    width: 50%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}
.portfolio__text-header{
    padding: 30px;
}
.portfolio__text-p{
    max-width: 100%;
    padding: 30px;
}

.port-cont-right{
    margin: 30px 30px 30px auto;
}

.port-cont-left{
    margin: 30px auto 30px 30px;
}
.portfolio-wrapper{
    width: 100vw;
    height: auto;
}